RewriteEngine On

# If the file or directory doesn't exist, send the request to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

# Block access to .env files
<FilesMatch "^\.env">
    Order allow,deny
    Deny from all
</FilesMatch>


# Block config & sensitive files
<FilesMatch "(^\.env|\.ini|\.log|\.sh|\.bak|\.sql|\.yml|\.yaml|composer\.json|composer\.lock)">
    Require all denied
</FilesMatch>
